.App {
  text-align: center;
}
.books-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.authors-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.books-display,
.dropdown-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-reset {
  margin-left: 20px;
}
