.App {
  text-align: center;
}
.books-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.authors-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.books-display,
.dropdown-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-reset {
  margin-left: 20px;
}
.search-bar {
  margin: 20px 0;
  justify-content: center;
  display: flex;

  input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }

  input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}
